<p>Olá,</p>
<p>Você solicitou a redefinição da sua senha.</p>
<p><a href="{{resetLink}}" target="_blank">Clique aqui para redefinir sua senha</a></p>
<p>Este link expira em 1 hora.</p>
<p>Se não foi você, apenas ignore este e-mail.</p>
